:root{
  --culoareUser: grey;
}
body {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}


.signUpPage, .regulamentClass{
  width: 780px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: none;
  position: absolute;
  z-index: 11;
  background: lightblue;
  border: 1px solid green;
  text-align: center;
}
.fa-question-circle, .steaguriClass{
  margin-left: 35px;
}
.butonExit, .butonExitRegulament{
  float: right;
  height: 25px;
  width: 25px
}
.regulamentClass{
  text-align: left;
}
.textPre{
  font-weight: bold;
  font-size: 20px;
  background: lightblue;
}
.steaguri{
  height: 25px;
}
.fas, .steaguriClass{
  float: left;
}
.signUpCreateForm{
  margin-top: 150px;
}
.clasaSignUpContent{
  margin-top: -100px;
}
.signUpPage img{
  height: 200px;
}
.imgBoySignUp{
  float: left;
}
.imgGirlSignUp{
  float: right;
}
#radioBoy{
  margin-left: -10px;

}
#radioGirl{
  margin-left: 270px;
}
.userPass,.signupLogin {
  float: left;
}
.userPass{
  display: grid;
  grid-template-rows: auto auto;
}
.userPass{
  width: auto;
}
.signupLogin{
  margin-left: 2px;
}
#signUpButton{
    margin-left: 10px;
}
.signUpPage p{
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

#cadranJoc {
  border: 10px solid black;
  height: 420px;
  margin-left: 10%;
  margin-right: 10%;
}
.fas{
  font-size: 25px;
}

.classScor{
  top: 8%;
  position: absolute;
  right: 12%
}
.scor{
  float: left;
  font-weight: bold;
  font-size: 16px;
}
.scorAct{
  margin-left: 20px;
}

#topBlock {
  height: 18ex;
}
#pozProfil {
  border-radius: 50%;
  float: left;
  height: 130px;
  width: 130px;
}


h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-style: italic;
}
#emoji_sex {
  height: 130px;
  width: 130px;
  float: right;
}


.nivele{
  float: right;
  padding-top: 5px;
  margin-right: 1%;
  font-weight: bold;
}
.niveleIndividual{
  margin: 0px;
}
#easy{
  text-decoration: none;
}


.startJocul {
  margin-left: 47%;
  margin-right: auto;
}
#startJoc{
  height: 30px;
  font-weight: bold;
  border-radius: 8px;
}
.clasaLitereToate{
  text-align: center;
}
.litereAM{
  width: 33px;
  font-weight: bold;
  border-radius: 8px;
}
.litereAM:hover{
  background: var(--culoareUser) !important;
  color: white;
}
.clasaLitereNZ{
  margin-top: 10px;
}


#mesaje {
  height: 5ex;
  text-align: center;
  border: 1px solid green;
}
.textMijloc{
  margin-top: 0px;
  height: 5ex;
  text-align: center;
}


.word {
  margin-top: 0px;
  height: 80px;
  text-align: center;
}
#lettersWord {
  font-size: 50px;

}


#mesajFinal {
  font-weight: bold;
  font-size: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#incercari{
  margin-top: -40px;
  font-size: 25px;
  font-weight: bold;
}
#pozeJoc{
  margin-top: -130px;
  height: 130px;
  width: 140px;
  #float: right;
  position: absolute;
  right: 12%;
}


.titluDomenii {
  margin-right: 15px;
  margin-bottom: 5px;
}
.domenii {
  top: 255px;
  margin-left: 1px;
  width: 90px;
  height: 155px;
  border: 1px solid green;
  position: absolute;
  font-weight: bold;
}
.domeniuFloat {
  float: left;
  margin-bottom: -6px;
}
