:root{
  --culoareUser: grey;
}
#cadranJoc {
  border: 10px solid black;
  height: 420px;
  margin-left: 10%;
  margin-right: 10%;
}
#inputPassword {
  float: left;
}
.regulament{
  position: absolute;
  right: 12%;
  top: 7%;
}
.fas{
  font-size: 25px;
}
.classScor{
  top: 1%;
  position: absolute;
  left: 25%;
}
.scor{
  float: left;
  font-weight: bold;
}
.scorAct{
  margin-left: 20px;
}
#topBlock {
  height: 18ex;
}
#pozProfil {
  border-radius: 50%;
  float: left;
  height: 130px;
  width: 130px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-style: italic;
}
#emoji_sex {
  height: 130px;
  width: 130px;
  float: right;
}
#inima {
  height: 130px;
  width: 130px;
}
.nivele{
  float: right;
  margin-top: -40px;
  margin-right: 1%;
  font-weight: bold;
}
#easy{
  text-decoration: none;
}
.startJocul {
  margin-left: 47%;
  margin-right: auto;
}
#startJoc{
  height: 30px;
  font-weight: bold;
  border-radius: 8px;
}
.clasaLitereToate{
  text-align: center;
}
.litereAM{
  width: 33px;
  font-weight: bold;
  border-radius: 8px;
}
.litereAM:hover{
  background: var(--culoareUser) !important;
  color: white;
}
#startJoc:hover{
  background: var(--culoareUser);
  color: white;
}
.clasaLitereNZ{
  margin-top: 10px;
}
#mesaje {
  height: 5ex;
  text-align: center;
  border: 1px solid green;
}
.textMijloc{
  margin-top: -35px;
  height: 5ex;
  text-align: center;
}


.form {
  float: left;
}

.word {
  margin-top: -50px;
  height: 20ex;
  text-align: center;
}
#lettersWord {
  font-size: 50px;

}
#mesajFinal {
  font-weight: bold;
  font-size: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#incercari{
  margin-top: -40px;
  font-size: 25px;
  font-weight: bold;
}
#pozeJoc{
  margin-top: -130px;
  height: 130px;
  width: 140px;
  #float: right;
  position: absolute;
  right: 12%;
}
.titluDomenii {
  margin-right: 15px;
  margin-bottom: 5px;
}
.domenii {
  top: 300px;
  margin-left: 0px;
  width: 90px;
  height: 125px;
  border: 1px solid green;
  position: absolute;
  font-weight: bold;
}
.domeniuFloat {
  float: left;
}
.domenii .nivele p{
  text-align: center;
}
