html {
  background: lightpink;
}
#formUsername{
  margin-left: 10%;
}
#topBlock {
  border: 2px solid red;
  margin-left: 10%;
  margin-right: 10%;
  height: 18ex;
}
#pozProfil {
  float: left;
  height: 130px;
  width: 130px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
#emoji_sex{
  height: 130px;
  width: 130px;
  float: right;
}
.nivele{
  margin-left: 10%;
}
.startJocul {
  margin-left: 47%;
  margin-right: auto;
}
#startJoc{
  height: 30px;
  font-weight: bold;
}
#mesaje {
  margin-left: 10%;
  margin-right: 10%;
  height: 5ex;
  text-align: center;
  border: 1px solid green;
}
.textMijloc{
  margin-left: 10%;
  margin-right: 10%;
  height: 5ex;
  text-align: center;
}
.inputSubmit{
  margin-left: 40%;
  margin-right: auto;
}
.form {
  float: left;
}

.word {
  margin-left: 10%;
  margin-right: 10%;
  height: 20ex;
  border: 1px solid blue;
  text-align: center;
}
#lettersWord {
  font-size: 60px;

}
#mesajFinal {
  font-size: 45px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#incercari{
  font-size: 30px;
  font-weight: bold;
}
#pozeJoc{
  height: 130px;
  width: 140px;
}
